.registerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f6;
}

.register-Box {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.registerTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.registerForm {
    display: flex;
    flex-direction: column;
}

.registerForm input {
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registerButton {
    background-color: #3b82f6;
    color: white;
    padding: 0.8rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    transition: background 0.2s ease-in-out;
    margin-top: 1rem;
}

.registerButton:hover {
    background-color: #2563eb;
}

.backButton {
    background-color: #ef4444;
    color: white;
    padding: 0.8rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    transition: background 0.2s ease-in-out;
    margin-top: 1rem;
}

.backButton:hover {
    background-color: #dc2626;
}

.errorMessage {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}
